.node {
	stroke: #fff;
    stroke-width: 0.5px;
}
.node-label {
    alignment-baseline: middle;
    font-size: 20px;
    font-family: arial,helvetica,"sans-serif";
    fill: #393939;
	stroke: #000;
	z-index: 20;
}

.node-degree{
    display: none
}

.link {
	stroke: #999;
}


.isFocus  {
	stroke: #f3f;
	display: initial;
}

.isFocus  .node-degree{
	display: initial;
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial,helvetica,"sans-serif";
    fill: #393939;
	stroke: #000;
	z-index: 20;
}