.node {
	stroke: #fff;
    stroke-width: 0.5px;
}
.node-label {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial,helvetica,"sans-serif";
    fill: #393939;
	stroke: #000;
}

.link {
	weight: 50px;
	stroke: #808080;
}